---
import prefix from "docs/scripts/prefix"
import attrs from "docs/scripts/server/dataset"
const props = Astro.props
interface Props {
    /** 不傳時隨機uuid */
    id?: string
    /** 不傳時取id */
    name?: string
    /** 不傳時取name */
    title?: string
    checked?: boolean
    disabled?: boolean
    class?: string
    style?: Record<string, any> | string
    dataset?: Record<string, any>
    onchange?: string
}
let uuid: string
if (!props.id) {
    uuid = crypto.randomUUID()
}
---

<span
    class={`${prefix}-radio ${props.class || ""}`}
    style={props.style}
    {...attrs(props.dataset || {})}
>
    <input
        type="radio"
        class={`${prefix}-input`}
        id={props.id || uuid}
        name={props.name || props.id || uuid}
        title={props.title || props.name || ""}
        checked={props.checked}
        disabled={props.disabled}
        onchange={props.onchange}
    />
    <label class={`${prefix}-radio-label`} for={props.id || uuid}><slot /></label>
</span>
