---
import App from "docs/layouts/app.astro"
import Header from "docs/components/header/index.astro"
import prefix from "docs/scripts/prefix"
import stylus from "docs/assets/stylus.svg"
import { Icon } from "astro-icon/components"

const menu = import.meta.env.BASE_URL + "menu/"
---

<App>
    <Header href={menu} />
    <section class={`${prefix}-layout cover-layout`}>
        <main>
            <css-doodle></css-doodle>
            <nav>
                <a class="clover" href={menu}>
                    <Icon name="logo/color/clover" title="进入" />
                    <i>{prefix}</i>
                </a>
                <a
                    class="stylus"
                    href="https://stylus-lang.com/"
                    target="_blank"
                >
                    <img
                        src={stylus.src}
                        alt="Stylus logo"
                        title="stylus document"
                    />
                    <i>stylus</i>
                </a>
            </nav>
        </main>
    </section>
    <script src="/docs/scripts/client/theme/cover.ts"></script>
</App>

<style lang="stylus">
.cover-layout
    user-select none
    position relative

main
    display flex
    align-items center

    max-width 36em
    overflow hidden
    color transparent

    position absolute
    inset 0
    margin auto

    css-doodle
        height unset
        aspect-ratio 1 / 1
        animation rotate 120s infinite linear

nav
    position absolute
    inset 0
    margin auto

    display grid
    /** 原设计网格内放置4个图标 但是不好看 */
    grid-template-rows repeat(2, min-content)
    grid-template-columns @grid-template-rows
    justify-content center
    align-content center

    a
        display inline-flex
        position relative
        border-radius 50%
        will-change filter
        transition filter .3s
        i
            font-size 0
        img,svg
            width 6em
            height 6em
            padding 1.5em
        &.clover:hover
            filter drop-shadow(0 0 2em rgb(var(--primary-7))) hue-rotate(15deg)
        &.stylus::after
            position absolute
            inset 0
            content ''
            filter blur(3em)
            border-radius 50%
            background-image linear-gradient(
                135deg,
                rgb(var(--lime-6) \/ .6) 30%,
                rgb(var(--yellow-6) \/ .6)
            )


@keyframes rotate

    from 
        transform rotate(0deg)
    
    to 
        transform rotate(360deg)

</style>
