---
import prefix from "src/scripts/prefix";
import attrs from "src/scripts/server/attrs";
const props = Astro.props;
interface Props {
    id: string;
    title?: string;
    name?: string;
    checked?: boolean;
    disabled?: boolean;
    class?: string;
    style?: Record<string, any> | string;
    dataset?: Record<string, any>;
}
---

<span
    class={`${prefix}-switch ${props.class || ''}`}
    style={props.style}
    {...attrs(props.dataset || {})}
>
    <input
        type="checkbox"
        class={`${prefix}-input`}
        id={props.id}
        name={props.name||props.id}
        checked={props.checked}
        disabled={props.disabled}
    />
    <label 
        class={`${prefix}-switch-mover`}
        for={props.id}
        title={props.title||props.id}
    ><slot /></label>
</span>
