---
import prefix from "src/scripts/server/prefix";
import attrs from "src/scripts/server/attrs";
const props = Astro.props;
interface Props {
    id: string;
    checked?: boolean;
    disabled?: boolean;
    className?: string;
    style?: Record<string, any> | string;
    dataList?: Record<string, any>;
}
---

<span
    class={`${prefix}-switch ${props.className || ""}`}
    style={props.style}
    {...attrs(props.dataList || {})}
>
    <input
        type="checkbox"
        id={props.id}
        checked={props.checked}
        disabled={props.disabled}
    />
    <label class={`${prefix}-switch-mover`} for={props.id}><slot /></label>
</span>
