---
import prefix from "src/scripts/prefix";
import { Icon } from "astro-icon";

const colours = [
    "red",
    "orangered",
    "orange",
    "gold",
    "yellow",
    "lime",
    "green",
    "cyan",
    "blue",
    "purple",
    "pinkpurple",
    "magenta",
    "gray",
] as const;
---

<div class={`${prefix}-table-wrapper`}>
    <table class={`${prefix}-table md`} id="colors-kanban">
        {
            colours.map((color) => (
                <tr>
                    <td class="color">{color}</td>
                    {Array(10)
                        .fill(0)
                        .map((x, i) => (
                            <td>
                                <button
                                    class={`${prefix}-button copy`}
                                    style={{
                                        "background-color": `rgb(var(--${color}-${
                                            i + 1
                                        }))`,
                                        color: `rgb(var(--${
                                            i >= 5 ? "white" : "black"
                                        }))`,
                                    }}
                                    title={`--${color}-${i + 1}`}
                                >
                                    <Icon name="edit/outline/copy" />
                                </button>
                            </td>
                        ))}
                </tr>
            ))
        }
    </table>
</div>

<script>
    const table = document.getElementById("colors-kanban");
    table.onclick = function (e) {
        const button = e.target as HTMLButtonElement;
        if (button.tagName === "BUTTON" && button.title) {
            window.copy(`rgb(var(${button.title}))`);
            window.dispatchEvent(
                new CustomEvent(`${window.name}-message`, {
                    detail: {
                        content: "复制成功",
                        primary: "success",
                    },
                })
            );
        }
    };
</script>

<style lang="stylus">
@import './../../lib/variable/functions.styl'

#colors-kanban
    --text-align-cell center
    button.copy
        width 32px
        height 32px
        --padding-button 6px
        --border-radius-md 50%
        svg
            pointer-events none
    td.color
        position sticky
        left 0
        box-shadow var(--box-shadow-divider-right), var(--box-shadow-divider-bottom)
        background-color _rgb(var(--white))
        --gray-1 var(--primary-1)
</style>
