---
import prefix from "src/scripts/prefix";
import Grid from "../grid.astro";
---

<div id="emit-message-kanban">
    <Grid>
        {
            ["primary", "success", "danger", "warning", "random"].map(
                (primary) => (
                    <button
                        class={`${prefix}-button`}
                        title="emit message"
                        data-primary={primary}
                    >
                        {primary}
                    </button>
                )
            )
        }

        <button class={`${prefix}-button`} title="emit message"> normal</button>
    </Grid>
</div>

<script>
    const launcher = document.getElementById("emit-message-kanban");
    launcher.onclick = function (e) {
        const button = e.target as HTMLButtonElement;
        if (button.tagName === "BUTTON") {
            window.dispatchEvent(
                new CustomEvent(`${window.name}-message`, {
                    detail: {
                        content: "发射成功",
                        primary: button.dataset.primary,
                    },
                })
            );
        }
    };
</script>

<style lang="stylus" is:global>
#emit-message-kanban
    button[data-primary=random]
        --background-color-button var(--blue-5)
        --background-color-button-focus var(--blue-6)
        --background-color-button-disabled var(--blue-2)
</style>
