---
import prefix from "src/scripts/prefix";

const layout = `${prefix}-layout`;
const header = `${prefix}-layout-header`;
const sider = `${prefix}-layout-sider`;
const content = `${prefix}-layout-content`;
const footer = `${prefix}-layout-footer`;
---

<div id="layouts-kanban">
    
    <section class={layout}>
        <header class={header}>
            <p class={`${prefix}-paragraph`} data-ellipsis="l1" title={`header.${header}`}>header</p>
        </header>
        <main class={content}>
            <p class={`${prefix}-paragraph`} data-ellipsis="l1" title={`main.${content}`}>main</p>
        </main>
        <footer class={footer}>
            <p class={`${prefix}-paragraph`} data-ellipsis="l1" title={`footer.${footer}`}>footer</p>
        </footer>
    </section>


    <section class={layout}>
        <header class={header}>
            <p class={`${prefix}-paragraph`} data-ellipsis="l1" title={`header.${header}`}>header</p>
        </header>
        <section class={layout} data-has-sider>
            <aside class={sider}>
                <p class={`${prefix}-paragraph`} data-ellipsis="l1" title={`section.${layout}[data-has-sider]>aside.${sider}`}>aside</p>
            </aside>
            <main class={content}>
                <p class={`${prefix}-paragraph`} data-ellipsis="l1" title={`main.${content}`}>main</p>
            </main>
        </section>
        <footer class={footer}>
            <p class={`${prefix}-paragraph`} data-ellipsis="l1" title={`footer.${footer}`}>footer</p>
        </footer>
    </section>


    <section class={layout}>
        <header class={header}>
            <p class={`${prefix}-paragraph`} data-ellipsis="l1" title={`header.${header}`}>header</p>
        </header>
        <section class={layout} data-has-sider>
            <main class={content}>
                <p class={`${prefix}-paragraph`} data-ellipsis="l1" title={`main.${content}`}>main</p>
            </main>
            <aside class={sider}>
                <p class={`${prefix}-paragraph`} data-ellipsis="l1" title={`section.${layout}[data-has-sider]>aside.${sider}`}>aside</p>
            </aside>
        </section>
        <footer class={footer}>
            <p class={`${prefix}-paragraph`} data-ellipsis="l1" title={`footer.${footer}`}>footer</p>
        </footer>
    </section>


    <section class={layout} data-has-sider>
        <aside class={sider}>
            <p class={`${prefix}-paragraph`} data-ellipsis="l5" title={`section.${layout}[data-has-sider]>aside.${sider}`}>aside</p>
        </aside>
        <section class={layout}>
            <header class={header}>
                <p class={`${prefix}-paragraph`} data-ellipsis="l1" title={`header.${header}`}>header</p>
            </header>
            <main class={content}>
                <p class={`${prefix}-paragraph`} data-ellipsis="l1" title={`main.${content}`}>main</p>
            </main>
            <footer class={footer}>
                <p class={`${prefix}-paragraph`} data-ellipsis="l1" title={`footer.${footer}`}>footer</p>
            </footer>
        </section>
    </section>
</div>

<style lang="stylus">
@import './../../lib/variable/functions.styl'

#layouts-kanban
    display grid
    gap 16px
    color _rgb(var(--white))
    &>section
        overflow hidden
        border-radius var(--border-radius-sm)
    header
    footer
        padding 0 2em
        background-color _rgb(var(--lime-5))
    aside
        padding 0 2em
        background-color _rgb(var(--lime-6))
    main
        padding 0 2em
        background-color _rgb(var(--lime-7))
</style>