---
import prefix from "src/scripts/prefix";
import dataset from "src/scripts/server/dataset";

const props = Astro.props;
interface Props {
    tag: "header" | "main" | "footer" | "aside";
    className: string;
    title?: string;
    dataset?: Record<string, any>;
    content?: string;
}

const Tag = props.tag;
---

<Tag class={props.className}>
    <p
        class={`${prefix}-paragraph`}
        {...dataset(props.dataset || { ellipsis: 1 })}
        title={props.title || `${props.tag}.${props.className}`}
    >
        {props.content || `${props.tag}`}
    </p>
</Tag>
