---
import prefix from "src/scripts/prefix";
import Section from "./layout-section.astro";

const layout = `${prefix}-layout`;
const header = `${prefix}-layout-header`;
const aside = `${prefix}-layout-aside`;
const content = `${prefix}-layout-content`;
const footer = `${prefix}-layout-footer`;
---

<div id="layouts-kanban">
    <section class={layout}>
        <Section tag="header" className={header} />
        <Section tag="main" className={content} />
        <Section tag="footer" className={footer} />
    </section>

    <section class={layout}>
        <Section tag="header" className={header} />
        <section class={layout} data-has-aside>
            <Section
                tag="aside"
                className={aside}
                title={`section.${layout}[data-has-aside]>aside.${aside}`}
            />
            <Section tag="main" className={content} />
        </section>
        <Section tag="footer" className={footer} />
    </section>

    <section class={layout}>
        <Section tag="header" className={header} />
        <section class={layout} data-has-aside>
            <Section tag="main" className={content} />
            <Section
                tag="aside"
                className={aside}
                title={`section.${layout}[data-has-aside]>aside.${aside}`}
            />
        </section>
        <Section tag="footer" className={footer} />
    </section>

    <section class={layout} data-has-aside>
        <Section
            tag="aside"
            className={aside}
            title={`section.${layout}[data-has-aside]>aside.${aside}`}
            dataset={{ ellipsis: "5" }}
        />
        <section class={layout}>
            <Section tag="header" className={header} />
            <Section tag="main" className={content} />
            <Section tag="footer" className={footer} />
        </section>
    </section>
</div>

<style lang="stylus" is:global>
@import './../../lib/variable/functions.styl'

#layouts-kanban
    display grid
    gap 16px
    color _rgb(var(--white))
    &>section
        overflow hidden
        border-radius var(--border-radius-sm)
    header
    footer
        padding 0 2em
        background-color _rgb(var(--lime-5))
    aside
        padding 0 2em
        background-color _rgb(var(--lime-6))
    main
        padding 0 2em
        background-color _rgb(var(--lime-7))
</style>
