---
import App from "@layout/app.astro";
import Header from "src/components/header.astro";
import prefix from "src/scripts/prefix";
import favicon from "src/assets/favicon.svg";
import stylus from "src/assets/stylus.svg";

const menu = import.meta.env.BASE_URL + "menu/";
---

<App>
    <Header href={menu} />
    <section class={`${prefix}-layout cover-layout`}>
        <main class="cover-layout-content">
            <css-doodle></css-doodle>
            <nav class="cover-layout-content">
                <a href={menu} class="logo own">
                    <img src={favicon} alt="My logo" title="进入"/>
                </a>
                <a href="https://stylus-lang.com/" class="logo">
                    <img src={stylus} alt="Stylus logo" title="stylus document"/>
                </a>
            </nav>
        </main>
    </section>
    <script src="/src/scripts/client/theme/cover.ts"></script>
</App>

<style lang="stylus">
@import './../lib/variable/functions.styl'
@import './../lib/variable/compatible.styl'

.cover-layout
    user-select none
    position relative

main.cover-layout-content
    display flex
    align-items center

    max-width 36em
    overflow hidden
    color transparent

    position absolute
    inset 0
    margin auto

    css-doodle
        height unset
        aspect-ratio 1 / 1
        animation rotate 120s infinite linear

nav.cover-layout-content
    position absolute
    inset 0
    margin auto

    display flex
    justify-content center
    align-items center

    a.logo
        display inline-block
        position relative
        border-radius 50%

        &.own:hover
            filter drop-shadow(0 0 2em _rgb(var(--primary-7))) hue-rotate(15deg)
        img
            height 6em
            padding 1.5em
            will-change filter
            transition filter .3s
        &[href='https://stylus-lang.com/']::after
            position absolute
            inset 0
            content ''
            filter blur(3em)
            border-radius 50%
            background-image linear-gradient(
                135deg,
                _rgb(var(--lime-6) \/ .6) 30%,
                _rgb(var(--yellow-6) \/ .6)
            )


@keyframes rotate

    from 
        transform rotate(0deg)
    
    to 
        transform rotate(360deg)

</style>
