---
import prefix from "src/scripts/prefix";
import { Icon } from "astro-icon";

interface Props {
    id: string;
}
const props = Astro.props;
---

<h2 class={`${prefix}-title ${prefix}-font-serif`} id={props.id}>
    <a href={`#${props.id}`} class={`${prefix}-link ${prefix}-connot-select`}>
        <Icon name="logo/outline/clover" />
    </a><slot />
</h2>

<style lang="stylus">
@import '../../lib/variable/functions.styl'

h2
    margin-left -4px !important
a
    margin 4px
    vertical-align middle
    &:focus-visible
        outline none
        filter drop-shadow(0 0 2px _rgb(var(--outline-color-focus)))
        svg
            fill _rgb(var(--outline-color-focus))
svg
    width 1em
    height 1em
    transform rotate(-37deg) rotateY(180deg)
</style>
