---
import prefix from "src/scripts/prefix";
import { Icon } from "astro-icon/components";

interface Props {
    id: string;
}
const props = Astro.props;
---

<h4 class={`${prefix}-title ${prefix}-font-serif`} id={props.id}>
    <a href={`#${props.id}`} class={`${prefix}-link ${prefix}-connot-select`}>
        <Icon name="logo/outline/clover" />
        <span style="font-size:0">####</span>
    </a>
    <span><slot /></span>
</h4>

<style lang="stylus">
@import '../../lib/variable/functions.styl'

a
    &:focus-visible
        outline none
        filter drop-shadow(0 0 2px _rgb(var(--outline-color-focus)))
        svg
            fill _rgb(var(--outline-color-focus))
svg
    transform rotate(-27deg) rotateY(180deg)
</style>
