---
import prefix from "src/scripts/prefix";
interface Props {
    id: string
}
const props = Astro.props;
---

<h5 class={`${prefix}-title ${prefix}-font-serif`} id={props.id}>
    <a href={`#${props.id}`} class={`${prefix}-link ${prefix}-connot-select`}>#</a>
    <slot />
</h5>
