---
import prefix from "src/scripts/prefix";
import Switch from "../switch/index.astro";
import Icon from "astro-icon";
import "./theme-switch.styl";
import "./menu-toggle.styl";
import "./index-logo.styl"; // 这个引入也会影响主页封面的logo

interface Props {
    href?: string;
}
const { href } = Astro.props;
---

<header class={`${prefix}-layout-header`}>
    
    {
        href ? (<></>) : (
            <button
                id="header-menu-toggle"
                class={`${prefix}-button`}
                title="menu"
                data-collapsed
            >
                <Icon name="direction/outline/menu-fold" />
                <Icon name="direction/outline/menu-unfold" />
            </button>
        )
    }

    <a href={href || import.meta.env.BASE_URL} class="logo">
        <Icon name="logo/color/clover" />
    </a>

    <Switch
        id="header-theme-switch"
        class="header-theme-switch"
        title="theme"
        name="theme"
    >
        {/**
          * 为了兼容 Safari浏览器里 `<svg>` 不能同时拥有 `box-shadow` 和 `drop-shadow`
          * 所以额外用了 `<i>` 来包裹 `<svg>`
          */}
        <i class={`${prefix}-switch-mover`}>
            <Icon name="general/outline/sun"/>
        </i>
        <i class={`${prefix}-switch-mover`}>
            <Icon name="general/outline/moon"/>
        </i>
        <label class={`${prefix}-switch-slot`} for="header-theme-switch"></label>
    </Switch>
</header>

<script src="./menu-toggle.ts"></script>
<script src="./theme-switch.ts"></script>

<style lang="stylus">
@import '../../lib/variable/functions.styl'

header
    display flex
    align-items center
    justify-content space-between
    height var(--line-height-8)
    padding .5em 1em

    a.logo
        display flex
        border-radius 50%
        svg
            width var(--font-size-8)
            height @width
</style>
