---
import prefix from "src/scripts/server/prefix";
const props = Astro.props;
interface Props {
    size?: "p1" | "p2" | "p3" | "p4" | "p5" | "p6";
    ellipsis?: "l1" | "l2" | "l3" | "l4" | "l5" | "l6";
    style?: Record<string, any> | string;
    indent?: boolean;
    serif?: boolean
}
---

<p
    class:list={{
        [`${prefix}-paragraph`]: true,
        [`${prefix}-font-serif`]: props.serif,
    }}
    data-size={props.size}
    data-ellipsis={props.ellipsis}
    data-has-indent={props.indent}
    style={props.style}
>
    <slot />
</p>
