---
import prefix from "src/scripts/prefix";
import attrs from "src/scripts/server/dataset";
const props = Astro.props;
interface Props {
    id?: string;
    title?: string;
    name: string;
    checked?: boolean;
    disabled?: boolean;
    class?: string;
    style?: Record<string, any> | string;
    dataset?: Record<string, any>;
    onchange?: string;
}
if (!props.name) {
    throw new Error("`radio`必须传入`name`");
}
---

<span
    class={`${prefix}-radio ${props.class || ""}`}
    style={props.style}
    {...attrs(props.dataset || {})}
>
    <input
        type="radio"
        class={`${prefix}-input`}
        id={props.id}
        name={props.name}
        checked={props.checked}
        disabled={props.disabled}
        onchange={props.onchange}
        title={props.title || props.id || props.name}
    />
    <label class={`${prefix}-radio-label`} for={props.id}><slot /></label>
</span>
