---
import prefix from "src/scripts/server/prefix";
const props = Astro.props;
interface Props {
    primary?: "success"|"danger"|"warning";
    tag?: "h1" | "h2" | "h3" | "h4" | "h5" | "h6" | "div";
    size?: "h1" | "h2" | "h3" | "h4" | "h5" | "h6";
    sub?: string;
    float?: boolean;
    prefix?: boolean;
    id?: string;
    style?: Record<string, any> | string;
    serif?: boolean
}
let { tag: Tag } = props;
if (props.size) {
    Tag = "div";
} else {
    Tag ||= "div";
}
---

<Tag
    class:list={{
        [`${prefix}-title`]: true,
        [`${prefix}-font-serif`]: props.serif,
    }}
    id={props.id}
    data-size={props.size}
    data-primary={props.primary}
    data-has-prefix={props.prefix}
    style={props.style}
>
    <slot />
    {
        props.sub ? (
            <span
                class={`${prefix}-title-subtitle`}
                style={{ float: props.float ? "right" : "unset" }}
            >
                {props.sub}
            </span>
        ) : (
            ""
        )
    }
</Tag>
