---
import prefix from "docs/scripts/prefix"
import dataset from "docs/scripts/server/dataset"
import { Icon } from "astro-icon/components"

const props = Astro.props
interface Props {
    /** 不傳時隨機uuid */
    id?: string
    /** 不傳時取id */
    name?: string
    /** 不傳時取name */
    title?: string
    disabled?: boolean
    style: Record<string, any> | string
    dataset?: Record<string, any>
}
const accept = [`image/gif`, `image/jpeg`, `image/png`] as const

let uuid: string
if (!props.id) {
    uuid = crypto.randomUUID()
}
---

<span
    class={`${prefix}-image ${prefix}-input-wrapper`}
    style={props.style}
    {...dataset(props.dataset || {})}
>
    <input
        type="file"
        accept={accept.toString()}
        id={props.id || uuid}
        name={props.name || props.id || uuid}
        title={props.title || props.name || ""}
        class={`${prefix}-input`}
        disabled={props.disabled}
    />
    <Icon name="tips/outline/plus" />
</span>
{
    props.disabled ? (<></>) : (
        <script define:vars={{ id: props.id || uuid, accept }}>
            document.getElementById(id).onchange = function(e){
                const file = e.target.files[0]
                if (accept.some((t) => new RegExp(t).test(file.type))) {
                    const reader = new FileReader()
                    reader.readAsDataURL(file)
                    reader.onload = () => {
                        this.parentElement.style.backgroundImage = `url(${reader.result})`
                    }
                }
            }
        </script>
    )
}
