---
import { ViewTransitions } from "astro:transitions"
import "@stylus/index.styl"
import prefix from "src/scripts/prefix"
import Queue from "src/components/message/queue.astro"
import favicon from "src/icons/logo/color/clover.svg"
import themeIIFE from "@holy-two/data-theme/dist/iife?url"

interface Props {
    title?: string
    frontmatter?: {
        title?: string
    }
}
const title =
    Astro.props.title || Astro.props.frontmatter?.title || `${prefix} style lib`
---

<html lang="zh-CN">
    <head>
        <meta charset="UTF-8" />
        <title>{title}</title>
        <meta name="generator" content={Astro.generator} />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href={favicon.src} />
        <ViewTransitions />
        <script is:inline fetchpriority="high" src={themeIIFE}></script>
        <script src="/src/scripts/client/setup.ts"></script>
        <script src="/src/scripts/client/theme/index.ts"></script>
        <script src="/src/scripts/client/copy.ts"></script>
    </head>
    <body>
        <Queue />
        <slot />
    </body>
</html>

<style lang="stylus">
    body
        width 100%
        height 100vh
        @supports (height: 100dvh)
            height 100dvh
        overflow hidden
        display flex
        flex-direction column
        padding 0
        margin 0
</style>
