---
import App from "@layout/app.astro";
import prefix from "src/scripts/server/prefix";
import Header from "src/components/header.astro";
import Footer from "src/components/footer.astro";
import Menu from "src/components/menu.astro";
import { getMenu } from "src/scripts/server/menu";

const menu = await getMenu("./src/pages/menu");
---

<App {...Astro.props}>
    <Header />
    <section
        class:list={[`${prefix}-layout`, `${prefix}-layout-has-sider`]}
        style="overflow:hidden"
    >
        <aside class:list={[`${prefix}-layout-sider`, "menu-wrap"]}>
            <Menu menu={menu} base="/menu/" />
        </aside>
        <main
            class={`${prefix}-layout-content`}
            style="overflow-y:auto; padding:2em"
        >
            <slot />
        </main>
    </section>
    <Footer />
</App>

<style lang="stylus">
    .menu-wrap
        width 240px
        overflow-y auto
        padding 1em 0
</style>
