---
import App from "@layout/app.astro"
import prefix from "src/scripts/prefix"
import Header from "src/components/header/index.astro"
import Footer from "src/components/footer.astro"
import Menu from "src/components/menu/summary.astro"
// import Menu from "src/components/menu/list.astro";
import { getMenu } from "src/scripts/server/menu"

const menu = await getMenu("./src/pages/menu")

const base = import.meta.env.BASE_URL + "menu/"
---

<App {...Astro.props}>
    <Header />
    <section class={`${prefix}-layout`} data-has-aside>
        <aside class={`${prefix}-layout-aside`} data-collapsed>
            <Menu menu={menu} base={base} />
        </aside>
        <main class={`${prefix}-layout-content`}>
            <slot />
        </main>
    </section>
    <Footer />
</App>

<style lang="stylus">
    section
        overflow hidden
        aside
            --width-aside 240px
            padding 1em 0
            @media screen and (max-width 768px)
                // 小於等于 ipad mini 竪屏尺寸時 菜單懸浮
                position absolute
            &[data-collapsed]
                @media screen and (min-width 1024px)
                    // 大於和等於 ipad mini 橫屏尺寸時 菜單無法隱藏
                    width var(--width-aside, unset)
        main
            overflow-y auto
            scroll-behavior smooth
            padding 2em
</style>
