---
import App from "@layout/app.astro";
import prefix from "src/scripts/server/prefix";
import Header from "src/components/header.astro";
import Footer from "src/components/footer.astro";
import Menu from "src/components/menu.astro";
import { getMenu } from "src/scripts/server/menu";

const menu = await getMenu("./src/pages/menu");
---

<App {...Astro.props}>
    <Header />
    <section class:list={[`${prefix}-layout`, `${prefix}-layout-has-sider`]}>
        <aside class:list={[`${prefix}-layout-sider`]}>
            <Menu menu={menu} base="/menu/" />
        </aside>
        <main class={`${prefix}-layout-content`}>
            <slot />
        </main>
    </section>
    <Footer />
</App>

<style lang="stylus">
    section
        overflow hidden
        aside
            width 240px
            overflow-y auto
            padding 1em 0
        main
            overflow-y auto
            scroll-behavior smooth
            padding 2em
</style>
