---
import App from "@layout/app.astro";
import prefix from "src/scripts/prefix";
import Header from "src/components/header/index.astro";
import Footer from "src/components/footer.astro";
import Menu from "src/components/menu.astro";
import { getMenu } from "src/scripts/server/menu";

const menu = await getMenu("./src/pages/menu");

const base = import.meta.env.BASE_URL + "menu/";
---

<App {...Astro.props}>
    <Header />
    <section class={`${prefix}-layout`} data-has-aside>
        <aside class={`${prefix}-layout-aside`} data-collapsed>
            <Menu menu={menu} base={base} />
        </aside>
        <main class={`${prefix}-layout-content`}>
            <slot />
        </main>
    </section>
    <Footer />
</App>

<style lang="stylus">
    section
        overflow hidden
        aside
            width 240px
            overflow-y auto
            overflow-x hidden
            padding 1em 0
            // &[data-folder] 默认的样式库里的折叠没有动画效果
            &[data-collapsed]
                width 0
                @media screen and (min-width 768px)
                    width 240px
            transition width .3s
        main
            overflow-y auto
            scroll-behavior smooth
            padding 2em
</style>
